// babel配置  react插件配置
{
    "presets": [
        [
            "@babel/preset-env"
        ],
        "@babel/preset-react"
    ],
    "plugins":[
        "@babel/plugin-syntax-dynamic-import" //动态import懒加载配置
    ]
    
}